body{
    font-size: 10pt;
    font-family: arial, helvetica, sams-safari;
    background: url("../images/Library-Solutions.jpg") no-repeat;
    background-size: cover;
    color: #c7c6ff;
}
a:link{
    color: white;
    marquee-style: slide;
}
a:visited{
    color: aquamarine;
}
a:hover{
    color: darkslategrey;
}
