<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Oops!</title>
    <link rel="stylesheet"
          href="../static/style.css "
          th:href="@{/style.css}"> </link>
</head>
<body>
    <div class="errorPage">
        <span class="oops">Oops!</span><br/>
        <img src="../static/images/MissingPage.png"  th:src="@{/images/MissingPage.png}"> </img>
        <p>There Seem to be a problem with the page you requested</p>
        <p th:text="${'Details: ' + message}"></p>
    </div>

</body>
</html>