<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title> NRLA </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../main.css"
      th:ref="@{/main.css}">
    </link>


</head>

<body>
  <div class = "row1">
	   
	<div class = "home"> 
	 	  <link>
	 	   <a href= "home">Home</a>
	 	  </link>
	</div>
	 	
	<div class = "mylist"> 
	 	  <link> 
	 	    <a href="">My Reading List </a>
          </link>
	</div>
	 	
	<div class = "newbooks"> 
	 	  <link> 
	 	    <a href="">New Books</a>
          </link>
	</div>

	<div class = "favoritegenres"> 
	 	<nav class="menu">
	 	  <li>
	 	     Favorite Geners <span class = "spanonfavoritegenres"> 
	 	     <ul class = "favoritegenres-content">
	 	     	<li> <a href="">Phychology </a></li>
                <li> <a href="">Philosophy </a></li>
                <li> <a href="">History </a></li>
                <li> <a href="">Fiction </a></li>
                <li> <a href="">Non-Fiction </a></li>
                <li> <a href="">Science </a></li>   
             </ul>
           </span>
          </li>
        </nav>
    </div>
	 	
	<div class = "aboutme">
	 		<link>
	 			<a class = ""> About me</a>
	 		</link>
	</div>

    <div class = "signin-registeration"> 
         <link>
          <a href="">Sign In</a> /
          <a href="register">Register</a>
         </link> 
    </div>
  
 </div>


  <div class = "row2">
	 	 <h3 class="headername">NRLA (Nasrin Reading List App)</h3>
  </div>
    
  <div class = "row3">
  	 <div class = "stevejobs">
     	  <h4>Steve Jobs: </h4>
          <p align="justify">
          	For the past 33 years, I have looked in the mirror every morning and asked myself: 'If today were the last day of my life, would I want to do what I am about to do today?' And whenever the answer has been 'No' for too many days in a row, I know I need to change something.    
          </p>
      </div>
      <div class = "quotes">
             <h4>Dr. Seuss: </h4>
             <p align="justify">
               The more that you read, the more things you will know. The more that you learn, the more places you'll go.
              'I Can Read With My Eyes Shut!'
          </p>
     </div>
     <div class="quotes">
     	<h4>Stephen Hawking: </h4>
     	<p align="justify">
     		<li>
        	  Intelligence is the ability to adopt to change.
  	        </li>
            <li>
             Look up at the stars and not down at your feet.
            </li>
     	</p>
     	
     </div>
  </div>

 </body>

</html>
